.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}

.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-about {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-expertise {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-education {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-experience {
  display: none;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-contact {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-blue);
}
.home-about1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-l-gray);
}
.home-heading-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-about-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  color: #040404;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text {
  color: #000000;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-link4 {
  display: contents;
}
.home-git-btn {
  width: 200px;
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/external/gitbutton-200h.png");
  background-position: center;
}
.home-git-hub {
  color: var(--dl-color-gray-l-gray);
}
.home-section-separator1 {
  flex: 100;
  width: 65px;
  height: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link5 {
  display: contents;
}
.home-link-btn {
  width: 200px;
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/external/linkbutton-200h.png");
  background-position: center;
}
.home-git-hub1 {
  color: var(--dl-color-gray-l-gray);
}
.home-portrait {
  width: 40%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-blue);
}
.home-expertise1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text02 {
  text-align: center;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image {
  width: 100px;
  object-fit: cover;
}
.home-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text03 {
  text-align: center;
}
.home-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-pasted-image {
  width: 100px;
}
.home-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text04 {
  text-align: center;
}
.home-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-pasted-image1 {
  width: 100px;
}
.home-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text05 {
  text-align: center;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-blue);
}
.home-education1 {
  width: 100%;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #f1f1f1;
}
.home-heading-container2 {
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-text06 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text07 {
  text-align: center;
}
.home-cards-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card3 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image1 {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-brock-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading6 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text08 {
  text-align: center;
}
.home-class-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text {
  text-align: center;
}
.home-class-container01 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header01 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text01 {
  text-align: center;
}
.home-class-container02 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header02 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text02 {
  text-align: center;
}
.home-class-container03 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header03 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text03 {
  text-align: center;
}
.home-class-container04 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header04 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text04 {
  text-align: center;
}
.home-class-container05 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header05 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text05 {
  text-align: center;
}
.home-class-container06 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header06 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text06 {
  text-align: center;
}
.home-class-container07 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header07 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text07 {
  text-align: center;
}
.home-class-container08 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header08 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text08 {
  text-align: center;
}
.home-class-container09 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header09 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text09 {
  text-align: center;
}
.home-card4 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-sheridan-image {
  width: 100px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading7 {
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
}
.home-text09 {
  text-align: center;
}
.home-class-container10 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header10 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text10 {
  text-align: center;
}
.home-class-container11 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header11 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text11 {
  text-align: center;
}
.home-class-container12 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header12 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text12 {
  text-align: center;
}
.home-class-container13 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header13 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text13 {
  text-align: center;
}
.home-class-container14 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header14 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text14 {
  text-align: center;
}
.home-class-container15 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header15 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text15 {
  text-align: center;
}
.home-class-container16 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header16 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text16 {
  text-align: center;
}
.home-class-container17 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-class-header17 {
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-class-text17 {
  text-align: center;
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-blue);
}
.home-experience1 {
  width: 100%;
  display: none;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-blue);
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-about-1 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-blue);
}
.home-container2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text13 {
  text-align: left;
}
.home-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon06 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text14 {
  text-align: left;
}
.home-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon08 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text15 {
  text-align: left;
}
.home-about-11 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-blue);
}
.home-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text16 {
  text-align: left;
}
.home-container6 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon12 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text20 {
  text-align: left;
}
.home-container7 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text21 {
  text-align: left;
}
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-blue);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-l-gray);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-bar {
  width: 314px;
  display: flex;
  padding: 48px;
  justify-content: center;
}
.home-icon16 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon18 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon20 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon22 {
  width: 16px;
  height: 16px;
}
.home-email-text {
  letter-spacing: 1;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon24 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1600px) {
  .home-expertise1 {
    border-color: var(--dl-color-gray-white);
    border-style: hidden;
    border-width: 0px;
  }
  .home-social-bar {
    width: auto;
  }
}
@media(max-width: 1200px) {
  .home-portrait {
    align-self: center;
  }
}
@media(max-width: 991px) {
  .home-heading {
    text-align: center;
  }
  .home-heading1 {
    text-align: center;
  }
  .home-heading-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-about-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading2 {
    text-align: center;
  }
  .home-text {
    text-align: center;
  }
  .home-portrait {
    width: 55%;
  }
  .home-text01 {
    text-align: center;
  }
  .home-heading-container2 {
    width: auto;
  }
  .home-text06 {
    text-align: center;
  }
  .home-card3 {
    width: auto;
  }
  .home-card4 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #000000;
  }
  .home-icon {
    fill: var(--dl-color-gray-l-gray);
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
  .home-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-text12 {
    text-align: center;
  }
  .home-content-container4 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about-1 {
    width: 65%;
  }
  .home-about-11 {
    width: 65%;
  }
  .home-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .home-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
@media(max-width: 400px) {
  .home-links-container {
    display: none;
  }
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-mobile-menu {
    display: none;
  }
  .home-about-text-container {
    width: 100%;
  }
  .home-git-btn {
    width: 180px;
    height: 48px;
  }
  .home-section-separator1 {
    flex: 1;
    width: 15px;
  }
  .home-link-btn {
    width: 180px;
    height: 48px;
  }
  .home-portrait {
    width: 75%;
  }
  .home-card {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
  .home-card4 {
    width: 100%;
  }
  .home-about-1 {
    width: 100%;
  }
  .home-about-11 {
    width: 100%;
  }
  .home-footer-container {
    flex-direction: row;
  }
  .home-footer {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-social-bar {
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-email-text {
    color: var(--dl-color-gray-black1);
    align-self: center;
    text-align: center;
  }
  .home-copyright-container {
    align-self: center;
  }
  .home-link6 {
    text-align: left;
  }
}
